body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Source Code Pro', monospace;
}

/* Home Page Animation */

#foreground {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/foreground.png");
    background-repeat: repeat; /* This is so the image fills up the screen without stretching the original + more stars */
    position: fixed;
    z-index: 3;

    animation: STAR-FORE 9000000s infinite linear;
}

#midground {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/midground.png");
    background-repeat: repeat; 
    position: fixed;
    z-index: 2;

    animation: STAR-MID 70000000s infinite linear;
}

#background {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background.png");
    background-repeat: repeat; 
    position: fixed;
    z-index: 1;

    animation: STAR-BACK 100000000s infinite linear;
}

.linton-img {
    position: absolute;
    z-index: 9;
    height: auto;
    width: 30vw;

    animation: LINTON 5s infinite ease-in;
}

#introMessage {
    position: absolute;
    z-index: 6;
    margin-left: 120px;
    width: 60%;
    height: 10%;
}

.speech-box {
    margin-top: 100px;
    width: 50%;
    background-color: black;
    border: 2px solid white;
}

.typewriter {
  color: lime; 
  font-size: 10px;
  margin: 2px 0 0 0;
  margin-left: 6px;
  white-space: nowrap;
  overflow: hidden;
  width: 40em;
  animation: type 5s steps(60, end); 
}

.typewriter2 {
    color: lime; 
    font-size: 10px;
    margin-left: 6px;
    margin-bottom: -1px;
    white-space: nowrap;
    overflow: hidden;
    width: 40em;
    animation: type2 7s steps(60, end);
}

.typewriter3 {
    color: lime; 
    font-size: 10px;
    margin-left: 6px;
    white-space: nowrap;
    overflow: hidden;
    width: 40em;
    animation: type2 10s steps(60, end);
}

span {
  animation: blink 1s infinite;
}

.game-title {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 20px auto;
    z-index: 6;
}

.container {
    position: absolute;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100vw;
    padding-right: 0px;
    padding-left: 0px;
    z-index: 5;
}

img {
    max-width: 120%;
    max-height: 100%;
    display: block; 
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.template {
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.link {
    z-index: 6;
    max-width: 100%;
    max-height: 100%;
    align-self: auto;
    position: absolute;
    margin-top: 20%;
}

.username {
    max-width: 60%;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#nameField {
    font-size: 15px;
    text-align: center;
    outline: none;
}

.submit {
    font-size: 15px;
    margin-top: 5px;
}

#subButton {
    outline: none;
}

#subButton:active {
    outline: none;
}

#subButton:focus {
    outline: none;
}

.remove-outline {
    outline: none;
}


.btn-3d {
	position: relative;
	display: inline-block;
	font-size: 12px;
    padding: 7px 7px;
	color: #D2D7DF;
	margin: 20px 10px 10px;
	border-radius: 100%;
	text-align: center;
	transition: top .04s linear;
    text-shadow: 0 0.1px 0 rgba(0, 0, 0, 0.11);
}

a:link {
    text-decoration: none;
}

.btn-3d.green:hover  {background-color: rgb(255, 0, 0);}

.btn-3d:active {
	top: 4px;
}

.btn-3d.green {
	background-color: rgb(255, 0, 0);
	box-shadow: 0 0 0 1px #D2D7DF inset,
				0 0 0 2px rgba(214, 204, 204, 0.15) inset,
				0 3px 0 0 rgba(210, 215, 223, 0.438),
				0 1px 0 1px rgba(0, 0, 0, 0.13),
				0 4px 4px 1px rgba(0, 0, 0, 0.13);
}
.btn-3d.green:active {
	box-shadow: 0 0 0 1px #D2D7DF inset,
				0 0 0 1px #6D7275 inset,
				0 0 0 1px #6D7275;
}



@keyframes STAR-BACK {
    0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100000000px 0;
  }
}

@keyframes STAR-MID {
    0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100000000px 0;
  }
}

@keyframes STAR-FORE {
    0% {
        background-position: 0 0;
        opacity: 1;
  }
    100% {
        background-position: 100000000px 10000000px;
        opacity: 0;
  }
}

@keyframes LINTON {
    0% {
        transform: translateX(0) translateY(50px) rotate(-3deg);
    }
    25% {
        transform: translateX(0.5px) translateY(57px) rotate(0deg);
    }
    50% {
        transform: translateX(0px) translateY(53px) rotate(3deg);
    }
    75% {
        transform: translateX(0.5px) translateY(55px) rotate(0deg);
    }
    100% {
        transform: translateX(0px) translateY(50px) rotate(-3deg);
    }
}

/* https://codepen.io/rusjames/pen/uAFhE */

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type3{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

/* Media Queries */

/* Small Screens (mobiles and below)*/

@media only screen and (max-width: 550px) {
    #introMessage {
        margin-left: 120px;
        margin-top: 180px;
        width: 60%;
    }

    #nameField {
        font-size: 10px;
    }

    .link {
        margin-top: 20%;
    }

    .btn-3d {
        font-size: 7px;
        margin: 30px 10px 10px;
    }

    .submit {
        font-size: 10px;
    }

    img {
        max-width: 170%;
    }

}


    @keyframes LINTON {
    0% {
        transform: translateX(-40px) translateY(80px) rotate(-3deg);
    }
    25% {
        transform: translateX(-39.5px) translateY(87px) rotate(0deg);
    }
    50% {
        transform: translateX(-40px) translateY(83px) rotate(3deg);
    }
    75% {
        transform: translateX(-39.7px) translateY(85px) rotate(0deg);
    }
    100% {
        transform: translateX(-40px) translateY(80px) rotate(-3deg);
    }
    }



/* Medium Screens (Portrait Tablet and Large Phones */

@media only screen and (min-width: 600px) {

    .typewriter {
        font-size: 20px;
    }

    .typewriter2 {
        font-size: 20px;
    }

    .typewriter3 {
        font-size: 20px;
    }

    .btn-3d {
        font-size: 20px;
    }

    .speech-box {
        margin-top: 200px;
    }

    .link {
        margin-top: 22%;
    }
}

@keyframes LINTON {
0% {
    transform: translateX(-40px) translateY(280px) rotate(-3deg);
}

25% {
    transform: translateX(-39.5px) translateY(287px) rotate(0deg);
}
50% {
    transform: translateX(-40px) translateY(283px) rotate(3deg);
}
75% {
    transform: translateX(-39.7px) translateY(285px) rotate(0deg);
}
100% {
    transform: translateX(-40px) translateY(280px) rotate(-3deg);
}
}

/* Large Devices (Laptops/Desktop) */
@media only screen and (min-width: 992px) {
    .btn-3d {
        font-size: 25px;
        padding: 12px 12px;
    }

    .username {
        max-width: 100%;
    }

    #nameField {
        font-size: 20px;
    }

    .submit {
        font-size: 20px;
    }

    .linton-img {
        margin-top: 0px;
    }

    #introMessage {
        margin-left: 320px;
        margin-top: 80px;    
        height: 13%;
        width: 35%;
    }

    .typewriter {
        font-size: 20px;
    }

    .typewriter2 {
        font-size: 20px;
    }

    .typewriter3 {
        font-size: 20px
    }
}



