body {
    margin: 0;
    padding: 0;
    background: black;
}

html { overflow-y: scroll; }

/* Home Page Animation */

#foreground {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/foreground.png");
    background-repeat: repeat; /* This is so the image fills up the screen without stretching the original + more stars */
    position: fixed;
    z-index: 3;

    animation: STAR-FORE 9000000s infinite linear;
}

#midground {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/midground.png");
    background-repeat: repeat; 
    position: fixed;
    z-index: 2;

    animation: STAR-MID 70000000s infinite linear;
}

#background {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background.png");
    background-repeat: repeat; 
    position: fixed;
    z-index: 1;

    animation: STAR-BACK 100000000s infinite linear;
}

.linton {
    position: fixed;
    z-index: 4;
    height: auto;
    width: 10vw;
    position: absolute;

    animation: LINTON 5s infinite ease-in;
}

#data-board {
    border-color: white;
    display: flex;
    justify-content: center;
    z-index: 5;
    width: 100vw;
    height: auto;
}

.user {
    z-index: 5;
    width: inherit;
    height: inherit;
}


@keyframes STAR-BACK {
    0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100000000px 0;
  }
}

@keyframes STAR-MID {
    0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100000000px 0;
  }
}

@keyframes STAR-FORE {
    0% {
        background-position: 0 0;
        opacity: 1;
  }
    100% {
        background-position: 100000000px 10000000px;
        opacity: 0;
  }
}

@keyframes LINTON {
    0% {
        transform: translateX(0) translateY(0) rotate(-3deg);
    }
    25% {
        transform: translateX(1px) translateY(7px) rotate(0deg);
    }
    50% {
        transform: translateX(0px) translateY(3px) rotate(3deg);
    }
    75% {
        transform: translateX(-1px) translateY(5px) rotate(0deg);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(-3deg);
    }
}






