body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Source Code Pro', monospace;
}

html { overflow-y: scroll; }

/* Home Page Animation */

#foreground {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/foreground.png");
    background-repeat: repeat; /* This is so the image fills up the screen without stretching the original + more stars */
    position: fixed;
    z-index: 3;

    animation: STAR-FORE 9000000s infinite linear;
}

#midground {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/midground.png");
    background-repeat: repeat; 
    position: fixed;
    z-index: 2;

    animation: STAR-MID 70000000s infinite linear;
}

#background {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background.png");
    background-repeat: repeat; 
    position: fixed;
    z-index: 1;

    animation: STAR-BACK 100000000s infinite linear;
}

.linton {
    position: fixed;
    z-index: 4;
    height: auto;
    width: 20vw;

    animation: LINTON 5s infinite ease-in;
}

.game-title {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 20px auto;
    z-index: 6;
}

.container {
    position: absolute;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid greenyellow;
    height: 100vh;
    width: 100vw;
    z-index: 5;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block; 
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.template {
    border: 2px solid burlywood;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.link {
    z-index: 6;
    border: 2px solid purple;
    max-width: 100%;
    max-height: 100%;
    align-self: auto;
    position: absolute;
    margin-top: 20%;
}

.username {
    border: 2px solid lightblue;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 7%;
    display: flex;
    flex-direction: column-reverse;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#subButton {
    outline: none;
}

#subButton:active {
    outline: none;
}

#subButton:focus {
    outline: none;
}


.btn-3d {
	position: relative;
	display: inline-block;
	font-size: 15px;
    padding: 10px 10px;
	color: #D2D7DF;
	margin: 10px 10px 10px;
	border-radius: 100%;
	text-align: center;
	transition: top .04s linear;
    text-shadow: 0 0.1px 0 rgba(0, 0, 0, 0.11);
}

a:link {
    text-decoration: none;
}

.btn-3d.green:hover  {background-color: rgba(210, 215, 223, 0.973);}

.btn-3d:active {
	top: 4px;
}

.btn-3d.green {
	background-color: rgb(231, 13, 13);
	box-shadow: 0 0 0 1px #D2D7DF inset,
				0 0 0 2px rgba(214, 204, 204, 0.15) inset,
				0 3px 0 0 rgba(210, 215, 223, 0.438),
				0 1px 0 1px rgba(0, 0, 0, 0.13),
				0 4px 4px 1px rgba(0, 0, 0, 0.13);
}
.btn-3d.green:active {
	box-shadow: 0 0 0 1px #D2D7DF inset,
				0 0 0 1px #6D7275 inset,
				0 0 0 1px #6D7275;
}



@keyframes STAR-BACK {
    0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100000000px 0;
  }
}

@keyframes STAR-MID {
    0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100000000px 0;
  }
}

@keyframes STAR-FORE {
    0% {
        background-position: 0 0;
        opacity: 1;
  }
    100% {
        background-position: 100000000px 10000000px;
        opacity: 0;
  }
}

@keyframes LINTON {
    0% {
        transform: translateX(0) translateY(200px) rotate(-3deg);
    }
    25% {
        transform: translateX(0.5px) translateY(207px) rotate(0deg);
    }
    50% {
        transform: translateX(0px) translateY(203px) rotate(3deg);
    }
    75% {
        transform: translateX(0.5px) translateY(205px) rotate(0deg);
    }
    100% {
        transform: translateX(0px) translateY(200px) rotate(-3deg);
    }
}






