body {
    border: 0;
    margin: 0;
    background: #080708;
    font-family: 'Source Code Pro', monospace;
}

#foreground {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/foreground.png");
    background-repeat: repeat; /* This is so the image fills up the screen without stretching the original + more stars */
    position: fixed;
    z-index: 3;

    animation: STAR-FORE 9000000s infinite linear;
}

#midground {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/midground.png");
    background-repeat: repeat; 
    position: fixed;
    z-index: 2;

    animation: STAR-MID 70000000s infinite linear;
}

#background {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background.png");
    background-repeat: repeat; 
    position: fixed;
    z-index: 1;

    animation: STAR-BACK 100000000s infinite linear;
}

#turn {
    position: absolute;
    width: 100%;
    height: auto;
    overflow-wrap: break-word;
    align-self: flex-start;
    color: lime;
}

.turn-fill {
    background-color: #080708;
    border: 2px solid whitesmoke;
}

.linton-img {
    position: absolute;
    z-index: 9;
    height: auto;
    width: 30vw;

    animation: LINTON 5s infinite ease-in;
}

.text-color {
  color: lime; 
  font-size: 15px;
  margin: 10px 0 0 0;
  overflow: hidden;
  text-align: center;
}

span {
  animation: blink 1s infinite;
}

.container {
    position: absolute;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    text-align: center;
    height: 100vh;
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 7;
}

.template {
    position: absolute;
    max-width: 150%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#message {
    position: absolute;
    align-self: center;
    font-size: 15px;
    height: auto;
    border: 2px solid whitesmoke;
    padding-bottom: 10px;
    background-color: black;
    max-width: 150%;
}

.link {
    position: absolute;
    align-self: center;
    height: auto;
    border-top: none;
    background-color: transparent;
    max-width: 100%;
    margin-top: 70%;
    padding-bottom: 10px;
}

#start {
    outline: none;
}

button:active {
    outline: none;
}

button:focus {
    outline: none;
}

.hide-display {
    display: none;
}

img {
    max-width: 150%;
    max-height: 100%;
    display: block; 
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.button-box1 {
    z-index: 6;
    margin-bottom: 7%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
    position: absolute;
}

.button-box2 {
    z-index: 6;
    height: 10%;
    margin-top: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
}

.button-box3 {
    z-index: 6;
    margin-top: 150px;
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-end;
    position: absolute;
}

#pink {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #F7AEF8;
    margin-right: 50px;
    margin-bottom: 10px;
    align-self: auto;
    transition: top .04s linear;
    padding: 5px 5px;
    cursor: pointer;
    box-shadow: 0px 0px 14px 0px rgb(243, 153, 245), 
    1px -2px 0px 0px rgba(214, 204, 204, 0.15) inset, 
    0px 0px 1px 0px rgb(243 152 245), 
    0px 4px 3px 2px rgba(0, 0, 0, 0.13), 
    -2px 3px 3px 0px rgba(0, 0, 0, 0.13);
}

#blue {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #00B2CA;
    align-self: auto;
    padding: 5px 5px;
    cursor: pointer;
    box-shadow: 0px 0px 9px 3px rgb(1, 165, 187), 
    1px 1px 0px 0px rgba(214, 204, 204, 0.15) inset, 
    -1px 0px 2px 0px rgb(1, 165, 187), 
    -4px 3px 12px 0px rgba(0, 0, 0, 0.13), 
    -1px 3px 16px 0px rgba(0, 0, 0, 0.13);
}

#white {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #E7E6F7;
    align-self: auto;
    padding: 5px 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px rgb(219, 216, 250), 
    1px 1px 0px 0px rgba(214, 204, 204, 0.15) inset, 
    0px 0px 5px 0px rgb(219, 216, 250), 
    0px -2px 3px 5px rgba(0, 0, 0, 0.13), 
    3px 2px 5px 6px rgba(0, 0, 0, 0.13);
}

#lime {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 4px solid #9EE493;
    margin-right: 50px;
    align-self: auto;
    padding: 5px 5px;
    cursor: pointer;
    box-shadow: 0px 0px 11px 3px rgb(122, 223, 107), 
    1px 1px 0px 0px rgba(214, 204, 204, 0.15) inset, 
    0px 2px 0 0 rgb(122, 223, 107), 
    0px 4px 20px 7px rgba(0, 0, 0, 0.13), 
    -1px 2px 8px 7px rgba(0, 0, 0, 0.13);
}

#orange {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 4px solid #F79256;
    align-self: auto;
    padding: 5px 5px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 2px rgb(248, 131, 63), 
    1px 1px 0px 0px rgba(214, 204, 204, 0.15) inset, 
    0px 2px 4px 0px rgb(248, 131, 63), 
    -1px 3px 14px 5px rgba(0, 0, 0, 0.13), 
    4px 8px 10px 1px rgba(0, 0, 0, 0.13);
}

button {
    background-color: #D2D7DF;
    position: relative;
	display: inline-block;
	font-size: 10px;
    padding: 5px 20px;
    border: none;
	color: #D2D7DF;
	margin: 10px 10px 10px;
	border-radius: 10px;
	text-align: center;
	transition: top .04s linear;
    text-shadow: 0 0.1px 0 rgba(0, 0, 0, 0.11);
    	box-shadow: 0 0 0 1px #D2D7DF inset,
				0 0 0 2px rgba(214, 204, 204, 0.15) inset,
				0 3px 0 0 rgba(210, 215, 223, 0.438),
				0 1px 0 1px rgba(0, 0, 0, 0.13),
				0 4px 4px 1px rgba(0, 0, 0, 0.13);
}

.btn-3d {
	position: relative;
	display: inline-block;
	font-size: 15px;
    padding: 5px 20px;
	color: #D2D7DF;
	margin: 10px 10px 10px;
	border-radius: 10px;
	text-align: center;
	transition: top .04s linear;
    text-shadow: 0 0.1px 0 rgba(0, 0, 0, 0.11);
}

a:link {
    text-decoration: none;
}

.btn-3d.green:hover  {background-color: rgba(210, 215, 223, 0.973);}

.btn-3d:active {
	top: 4px;
}

.btn-3d.green {
	background-color: #D2D7DF;
	box-shadow: 0 0 0 1px #D2D7DF inset,
				0 0 0 2px rgba(214, 204, 204, 0.15) inset,
				0 3px 0 0 rgba(210, 215, 223, 0.438),
				0 1px 0 1px rgba(0, 0, 0, 0.13),
				0 4px 4px 1px rgba(0, 0, 0, 0.13);
}
.btn-3d.green:active {
	box-shadow: 0 0 0 1px #D2D7DF inset,
				0 0 0 1px #6D7275 inset,
				0 0 0 1px #6D7275;
}

#startLine {
    display: flex;
    max-height: 30px;
    justify-content: center;
    margin-top: 5px;
    border: 0px solid black;
}

#turnCount {
    justify-self: center;
    position: relative;
    z-index: 6;
}

#switches {
    margin-left: 13px;
    z-index: 5;
}

h1 {
    color: #F8F4F9;
}

@keyframes STAR-BACK {
    0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100000000px 0;
  }
}

@keyframes STAR-MID {
    0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100000000px 0;
  }
}

@keyframes STAR-FORE {
    0% {
        background-position: 0 0;
        opacity: 1;
  }
    100% {
        background-position: 100000000px 10000000px;
        opacity: 0;
  }
}

@keyframes LINTON {
    0% {
        transform: translateX(0) translateY(50px) rotate(-3deg);
    }
    25% {
        transform: translateX(0.5px) translateY(57px) rotate(0deg);
    }
    50% {
        transform: translateX(0px) translateY(53px) rotate(3deg);
    }
    75% {
        transform: translateX(0.5px) translateY(55px) rotate(0deg);
    }
    100% {
        transform: translateX(0px) translateY(50px) rotate(-3deg);
    }
}

@keyframes blink{
  to{opacity: .0;}
}

/* Media Queries */

/* Small Screens (mobiles and below)*/

@media only screen and (max-width: 600px) {

    #pink {
        height: 35px;
        width: 35px;
        margin-right: 30px;
        margin-top: 0px;
    }

    #blue {
        height: 35px;
        width: 35px;
        margin-top: 0px;
    }

    #white {
        height: 35px;
        width: 35px;
    }

    #lime {
        height: 35px;
        width: 35px;
        margin-right: 35px;
    }

    #orange {
        height: 35px;
        width: 35px;
    }

    .text-color {
        font-size: 10px;
    }

    .button-box3 {
        margin-top: 40px;
    }

    .button-box1 {
        margin-bottom: 15%;
    }

    .button-box2 {
        margin-top: 20px;
    }

    .link {
        margin-top: 40%;;
    }

    .btn-3d {
        font-size: 10px;
    }

    #message {
        font-size: 5px;
        padding-bottom: 0px 5px 5px 5px;
    }

}

    @keyframes LINTON {
    0% {
        transform: translateX(-40px) translateY(80px) rotate(-3deg);
    }
    25% {
        transform: translateX(-39.5px) translateY(87px) rotate(0deg);
    }
    50% {
        transform: translateX(-40px) translateY(83px) rotate(3deg);
    }
    75% {
        transform: translateX(-39.7px) translateY(85px) rotate(0deg);
    }
    100% {
        transform: translateX(-40px) translateY(80px) rotate(-3deg);
    }
    }

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}


/* Large Devices (Laptops/Desktop) */

@media only screen and (min-width: 992px) {
    #pink {
        height: 80px;
        width: 80px;
        margin-right: 90px;
    }

    #blue {
        height: 80px;
        width: 80px;
    }

    #white {
        height: 80px;
        width: 80px;
    }

    #lime {
        height: 80px;
        width: 80px;
        margin-right: 90px;
    }

    #orange {
        height: 80px;
        width: 80px;
    }

    .button-box1 {
        margin-top: 20px;
    }

    .button-box2 {
        margin-top: 70px;
    }

    .button-box3 {
        z-index: 6;
        margin-top: 190px;
    }

    .link {
        margin-top: 60%;
    }

    #message {
        padding: 0px 5px 10px 5px;
        margin-bottom: 5px;
        width: 80%;
    }

}

/* Extra-Large Screens (Laptops and Big Desktops*/

@media only screen and (min-width: 1200px) {
    .text-color {
        font-size: 20px;
    }

    .container {
        max-width: 1100px;
    }

    .link {
        margin-top: 60%;
    }
}